.SliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 200px;
  height: 20px;
}

.SliderTrack {
  background-color: #a3a3a3;
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: 5px;
  
}

.SliderRange {
  position: absolute;
  background-color: #1A2238;
  border-radius: 9999px;
  height: 100%;
}

.SliderThumb {
  display: block;
  width: 15px;
  height: 15px;
  background-color: hsl(224, 37%, 16%);
  box-shadow: 0 2px 10px rgba(68, 68, 68, 0.164);
  border-radius: 10px;
  transition: background-color .2s ease-in;
}

.SliderThumb:hover {
  background-color: hsl(224, 37%, 33%);
}

.SliderThumb:focus {
  outline: none;
  box-shadow: 0 0 0 5px hsl(224, 37%, 65%);
}