.postContainer ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.postContainer section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
}

.translation {
  text-align: right;
}

.word {
  line-height: 1.8em;
}

.wordPadding {
  padding: 0.2em 0em 0.2em 0.3em;
  border-radius: 8px;
  margin-right: 0.25em;
  letter-spacing: 0em;
  /* word-spacing: 1em; */
}

.selected {
  background-color: var(--color-text);
}

.paragraph {
  font-size: 1em;
  margin-bottom: 0.4em;
  /* line-height: 1.6em; */
}

.visible {
  display: inline-block;
}

.hidden {
  font-family: 'Redacted Script', cursive;
  color: var(--color-text)
}