.DialogOverlay {
  /* background-color: rgba(0, 0, 0, 0.521); */
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  font-family: var(--ui-font-family);
  background-color: white;
  /* border-radius: 6px; */
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  width: 90vw;
  max-width: 300px;
  min-height: 100vh;
  padding: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(130%, -50%);
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  display: flex;
  flex-direction: column;
  gap: 1.6em;
}

.DialogContent:focus {
  outline: none;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(200%, -50%);
  }

  to {
    opacity: 1;
    transform: translate(130%, -50%);
  }
}