.ResetButton {
  font-family: 'Noto Sans', sans-serif !important;
  text-transform: capitalize;
  color: #444;
  border: 1px solid rgba(68, 68, 68, 0.356);
  padding: .8em 1.5em;

  min-width: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  border-radius: 0.2em;
  transition: background-color .3s ease-in;
}

.ResetButton:hover,
.ResetButton:focus {
  background-color: rgba(68, 68, 68, 0.04);
}

.ResetButton:focus {
  outline: 2px solid rgba(68, 68, 68, 0.356);
  --box-shadow-focus: 0px 0px 3px 1px var(--color-text);
  box-shadow: var(--box-shadow-focus);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0em 0em 3.5em 0em;
}

.title {
  display: flex;
  align-items: center;
  font-size: 1em;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  line-height: normal;
  letter-spacing: 2px;

  color: var(--color-text);
  opacity: 0.8;
}

.header nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

h1>svg {
  margin: 0px 20px;
}

h1>span {
  font-family: var(--ui-font-family);
  font-weight: 400;
}

.Field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .6em
}